.cart-items{
    margin: 30px auto;
    width: 50%;
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
}

.cart-items-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    height: 50px;
    border-bottom: 2px solid black;
}

.cart-items-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight: 700;
    padding: 20px 0;

}

.cart-items-image{
    width: 100px;
    height: auto;
    border: 2px solid black;
    margin-right: 10px;
    border: none;
    border-radius: 30%;
}
.cart-items-list{
    display: flex;
    align-items:center ;
    padding: 20px 0 20px 20px ;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
}

.cart-items-name, .cart-items-function{
    width: 25%;
}

.cart-items-add, .cart-items-remove{
    width: 30px;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.cart-items-add{
    background: #0f0;
}

.cart-items-remove{
    background: #f00;
}


.cart-items-add:active{
    transform: translateY(1.2px);
}

.cart-items-remove:active{
    transform: translateY(1.2px);

}

.cart-items-total-price-name{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22%;
    font-size: 20px;
    font-weight: 700;
    border-top: 2px solid #000;
}


.cart-items-total-price{
    display: flex;
    padding-left: 45%;
}

.clear-cart{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;

}
.clear-cart-button{
    border: none;
    border-radius: 5px;
    background: #bd0c0e;
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.clear-cart-button:hover{
    background-color: #0e557e;
}


@media only screen and (max-width: 600px) {
	.cart-items{
        margin: 30px auto;
        width: 88%;
        background-color: orange;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .cart-items-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
        height: 40px;
        border-bottom: 2px solid black;
    }
    
    .cart-items-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:12px;
        font-weight: 700;
        padding: 15px 0;
    
    }
    
    .cart-items-image{
        width: 100px;
        height: auto;
        border: 2px solid black;
        margin-right: 20px;
        border-radius: 30%;
        border: none;
    }
    .cart-items-list{
        display: flex;
        align-items:center ;
        padding: 20px 0 20px 20px;
        font-size: 12px;
        font-weight: 700;
        margin-left: 5%;

    }
    
    .cart-items-name, .cart-items-function{
        width: 25%;
    }
    
    .cart-items-add, .cart-items-remove{
        width: 30px;
        margin-right: 15px;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        font-size: 9px;
        color: #fff;
        cursor: pointer;
    }
    
    .cart-items-add{
        background: #0f0;
    }
    
    .cart-items-remove{
        background: #f00;
    }
    
    
    .cart-items-add:active{
        transform: translateY(1.2px);
    }
    
    .cart-items-remove:active{
        transform: translateY(1.2px);
    
    }
    
    .cart-items-total-price-name{
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 22%;
        font-size: 12px;
        font-weight: 700;
        border-top: 2px solid #000;
    }
    
    
    .cart-items-total-price{
        display: flex;
        padding-left: 45%;
    }
    
    .clear-cart{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        margin-right: 10px;
    
    }
    .clear-cart-button{
        border: none;
        border-radius: 5px;
        background: #bd0c0e;
        height: 30px;
        width: 100px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
    }
    
    .clear-cart-button:hover{
        background-color: #0e557e;
    }
    
}























